.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image {
    border-radius: .5rem .5rem 0 0;
    overflow: hidden;
    width: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 180px;
}

.portfolio__item-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: .5rem .5rem 0 0;
    background: transparent;
    display: block;
}

.portfolio__item h3 {
    margin: 2rem 0;
    min-height: 3rem;
    display: flex;
    align-items: center;
}

.portfolio__item p {
    margin: 0 0 1.2rem 0;
    font-size: 0.9rem;
    flex-grow: 0;
}

.portfolio__item p:first-of-type {
    flex-grow: 1;
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    margin-top: auto;
}

.portfolio__item-content {
    height: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1024px){
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}
  
@media screen and (max-width: 600px){
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}